.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cardBG{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  height: 15rem;
}
.App{
  background-image: url("https://i.ibb.co/SnWYWNV/smurfs.jpg");
  background-size: cover;
  height:47rem;

}
.headerCSS{
  background: dodgerblue;
  padding: 1rem;
  color: white;
  text-align: center;
  opacity: 0.9;
}

.formCSS{
  background: white;
  padding: 1rem;
  text-align: center;
  opacity: 0.9;
}

.cardCSS{
  margin: 1.5em;
  background: rgb(174, 235, 255) !important;
  opacity: 0.95;
  border: 3px dashed rgb(119, 187, 255) !important;
  border-radius: 1em !important;
}
.cardCSS:hover{
  transform: scale(1.1);;
}

.loaderCSS{
  text-align: center;
  color: dodgerblue;
}